<!--<div class="example-header">

</div>-->
<mat-toolbar>
  <mat-toolbar-row>
    <span>Hello!</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource">

    <!-- Name -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
    </ng-container>

    <!-- Surename -->
    <ng-container matColumnDef="surename">
      <mat-header-cell *matHeaderCellDef> Surename </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.secondName}} </mat-cell>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>

    <!-- Last Timestamp -->
    <ng-container matColumnDef="timestamp">
      <mat-header-cell *matHeaderCellDef> Last timestamp </mat-header-cell>
      <mat-cell *matCellDef="let user" [style.color]="green"> {{user.timestamp}} </mat-cell>
    </ng-container>

    <!-- Logged -->
    <ng-container matColumnDef="logged">
      <mat-header-cell *matHeaderCellDef> Logged </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.isLogged}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator (page)="getUserData($event)" ></mat-paginator>
</div>
<div class="footer">
  <app-user-stats></app-user-stats>
</div>
